*{
    box-sizing: border-box;
}

header {
    overflow: hidden;
}

nav h1 {
    font-size: 10px;
    color: blue;
    text-decoration: underline;
}

.start {
    display: none;
}

.hs-text {
    display: flex;
    float: left;
    margin-top: 0px;
    padding-left: 0px;
}

.Timer {
    display: flex;
    float: right;
    margin-top: 0px;
    padding-right: 0px;
}

body {
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: antiquewhite;
    /* background-image: url(); */
    height: 75vh;
    margin: auto;
    overflow: hidden;
}

.starterBtn {
    margin: 8px;
    width: 100%;
    color: black;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answerBtn {
    justify-content: center;
    display: flex;
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin: 10px;
    line-height: 16px;
    max-width: 100%;
    /* padding: 25px 45px; */
    text-align: center;

}



@media screen and (max-width: 960px) {
    main {
      flex-direction: column;
    }
}  