:root {
    background-image: url(https://wallpaperaccess.com/full/4317845.jpg);
}

* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-decoration: underline;
    color: rgb(49, 173, 77);
    text-shadow: 1px 1px black;
    font-size: 5rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container, #answerChoices button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.Btn, .startBtn, #answerChoices button, #highScore-Btn {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    min-width: 45rem;
    text-decoration: none;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: rgb(240, 141, 253);
    color: #ffff;
    text-shadow: 1px 2px black;
}

.Btn:hover, #answerChoices button:hover {
    box-shadow: 1px 4px 0px rgb(37, 122, 206);
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.1);
}

.startBtn:hover, #answerChoices button:hover {
    box-shadow: 1px 4px 0px rgb(37, 122, 206);
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.1);
}

.Btn[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
}

#timer {
    color: blue;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
    right: 100px;
}

#score {
    color: blue;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
    left: 100px;
}

.main-choice-container, #answerChoices button {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-container, #answerChoices button {
    display: flex;
    width: 100%;
    background-color: rgb(240, 141, 253);
    font-size: 3rem;
    min-width: 70rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    padding: 10px 10px;
}

.choice-container:hover, #answerChoices button {
    transform: scale(1.05);
    transform: transition (100ms);
    cursor: pointer;
    box-shadow: 1px 4px 0px rgb(37, 122, 206);
}

.choice-prefix, #answerChoices button {
    text-decoration: solid;
    padding: 1.3rem 1.3rem;
    color: #fff;
}

.choice-text, #answerChoices button  {
    padding: 1.5rem;
    margin: auto;
    width: 100%;
}

.q-text {
    color: rgb(49, 173, 77);
    text-shadow: 1px 1px black;
    font-size: 2rem;
}

.hidePage {
    display: none;
}

#highscores li {
    color: rgb(49, 173, 77);
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100rem;
    min-width: 70rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    padding: 10px 10px;
}

#play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(240, 141, 253);
}